# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Documentation file (local only)
PROJECT_FULL_DOC.md

# Ignore unwanted folders
extras/
Thumbs.db

# Ignore common document/report files
*.pdf
*.docx
*.pptx
*.db
documents/